<p id="notice"><%= notice %></p>

<h1></h1>
<br>

<%= link_to 'New opsystem', msystems_new_path %>

<div class="main users-index">
  <div class="container-set">
    <h1 class="form-heading">管理システム一覧</h1>
    <%if @valid_flg != "0"%>
    <div class="right">
      <div class= "link-btn">
        <%= link_to '新規作成', msystems_new_path %>
      </div>
    </div>
    <%end%>
    <div class="search-btn">
    <%= link_to"有効", msystems_index_path(valid_flg: "1") %>
    <%= link_to"無効", msystems_index_path(valid_flg: "0") %>
    </div>
    <% @msystems.each do |msystem| %>
          <div class="users-index-item">
              <%= link_to(msystem.msys_name, controller: :msystems, action: :edit, id: msystem.id) %>
          </div>
        <% end %> 
  </div>
</div>
