<h1>New Opssytem</h1>


<!--ココから旧-->

<div class="main posts-new">
    <div class="container">
    <%= link_to '戻る', {controller: :msystems, action: :index} %>
        <h1 class="form-heading">新規作成</h1>
        <%= form_tag(msystems_create_path,id: "sub") do %>
        <div class="form">
            <div class="form-body">
            <% @msystem.errors.full_messages.each do |message| %>
                <div class="form-error">
                <%= message %>
                </div>
            <% end %>
            <%
=begin%>
 <!--オペレーションコード(テキスト)-->
            <p class="item-name">管理システムコード</p><p class="ness">*</p>
            <br>
            <input type="text" name="msys_code" value="<%= @msystem.msys_code %>">
            <br>
            <br> 
<%
=end%>
            <!--オペレーション名(テキスト)-->
            <p class="item-name">管理システム名</p><p class="ness">*</p>
            <br>
            <input type="text" name="msys_name" value="<%= @msystem.msys_name %>">
            <br>
            <br>
            <input type="submit" value="作成">
            </div>
        </div>
        <% end %>
    </div>
</div>
